:root {
    --magic-number:2vw;
}

* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    -ms-overflow-style: none;  /* IE och Edge */
    scrollbar-width: none;  /* Firefox */
}

/* göm scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

.margin {
    margin-left: 2vw;
    margin-right: 2vw;
}

body{
    margin:0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(184, 91, 68) 0%, rgb(253, 170, 69) 50%, rgb(245, 147, 56) 100%);
    font-weight:500;
    color:white;
    text-shadow: -1px -1px 0 rgb(174, 102, 8), 1px -1px 0 rgb(117, 68, 3), -1px 1px 0 rgb(117, 68, 3), 1px 1px 0 black;
    position:relative;
}
  
nav {
    height:100px;
    background:rgba(80,80,80,0.2);
    display:flex;
    justify-content: space-around;
    align-items:center;
}

nav a, nav a:link {
    color:black;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:900;
    opacity:0.5;
    text-shadow: none;
}

nav a:hover {
    color:white;
    opacity:0.8;
}
  
h1 {
    margin:var(--magic-number);
    text-transform: capitalize;
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}
  
hr {
    background-color: white;
    height: 1px;
    border: none;
}

a, form {
    display: inline-block;
}

a {
    color: rgb(255, 166, 50);
    margin:10px;
    text-shadow: -1px -1px 0 rgb(174, 102, 8), 1px -1px 0 rgb(117, 68, 3), -1px 1px 0 rgb(117, 68, 3), 1px 1px 0 black;
}

input[type=button], input[type=submit], input[type=reset] {
    background:rgba(168, 145, 111, 0.1);
    border-color: rgb(255, 156, 27);
    text-decoration: none;
    color: rgb(255, 166, 50);
    cursor: pointer;
    font-weight: 500;
    text-shadow: -1px -1px 0 rgb(174, 102, 8), 1px -1px 0 rgb(117, 68, 3), -1px 1px 0 rgb(117, 68, 3), 1px 1px 0 black;
}

#update {
    background:rgba(80,80,80,0.2);
    border: 2px solid rgb(156, 25, 40);
    border-color: rgb(156, 25, 40);
    text-decoration: none;
    color: rgb(204, 0, 0);
    cursor: pointer;
    font-weight: 500;
}

ul {
    list-style:square;
}


.notice {
    background:rgba(110, 10, 10, 0.2);
    width:60vw;
    padding:50px;
    position:fixed;
    top: 30%;
    left: calc(50% - 30vw);
    align-items: center;
    font-size:4rem;
}

#login_div {
    background-image: url("/img/greek_god_wallpaper.jpg");
    width:100vw;
    height: 100vh;
    position:absolute;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register_div {
    background-image: url("/img/greek_god_wallpaper_2.png");
    background-size:cover;
    width:100vw;
    height: 100vh;
    position:absolute;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_div div, #register_div div {
    background:rgba(233, 200, 143, 0.5);
    border: 2px solid white;
    padding: 30px;
    border-radius: 10px;
}


#login_div div h1, #register_div div h1 {
    font-size: 4rem;
}

.comment {
    display: flex;
    border: 1px solid white;
    margin-left: 2vw;
    flex-direction: column;
    margin-bottom: 1vw;
    width: 40vw;
    background:rgba(165, 165, 165, 0.2);
    position: relative;
}

.comment div {
    display: flex;
}

.comment div .circular--portrait {
    width: 50px;
    height: 50px;
}

.comment div h3 {
    margin-left: 10px;
    margin-top: 25px;
    text-transform: capitalize;
}

.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.circular--portrait img {
    width: 100%;
    height: auto;
    margin: 0;
}

#profile_title {
    margin-left: 3vw;
}

p {
    white-space: pre-wrap;
}

.god_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: 2vw;
}

.end_of_box {
    position: absolute;
    right: 1vw;
}

.dot_container {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.dot_container div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    cursor: pointer;
}

.dot_container div div{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    margin-top: 1px;
    border: solid black 1px;
}

.settings_window {
    display: flex;
    position: absolute;
    width: 106px;
    height: 135px;
    background:rgb(224,156,92);
    border: solid white 1px;
}

.settings_window input[type=submit], .settings_window a input[type=button] {
    border-color: white;
    color: white;
    margin: 10px 0 0 10px;
}

.dot_container article {
    display: none;
}

#special_link {
    margin: 0;
}