body {
    background-color:rgb(170, 0, 0);
}
h1 {
    color: aliceblue;
}
p {
    color: white;
}
nav {
    background-color: rgb(110, 0, 0);
    justify-content: space-around;
}
a {
    font-size: 2rem;
}